*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: grid;
    grid-template-columns: 2fr 1fr ;
}
.sec{
    height: 500px;
    width: 900px;
    box-shadow: 0 0 20px 20px rgba(0,0,0, 0.05 );
}
.leftsec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.signin{
    position: relative;
    font-size: 50px;
    font-weight: 1000;
    padding: 10px 30px;
    bottom: 20px;
    transition: 0.8s;
}

.signin::placeholder{
    opacity: 30%;
}
.login{
    margin: 4px;
    padding: 5px 10px;
    width: 350px;
    font-size: 20px;
    border: none;
    font-weight: 500;
    
}
.login:focus{
     outline: none;
}
.login::placeholder{
    opacity: 30%;
}
.pass{
    margin: 3px;
    padding: 5px 10px;
    width: 350px;  
    font-size: 15px;
    border: none;
    
}
.pass:focus{
    outline: none;
}
.pass::placeholder{
    opacity: 30%; 
}
.cpass{
    margin: 4px;
    padding: 5px 10px;
    width: 350px;  
    font-size: 20px;
    border: none;
}
.cpass:focus{
    outline:none;
}
.cpass::placeholder{
    opacity: 30%;
}
.username{
    margin: 4px;
    padding: 5px 10px;
    width: 350px;  
    font-size: 20px;
    border: none;
}
.username::placeholder{
    opacity: 30%;
}
.line{
   background: rgb(105, 105, 105);
   height: 2px;
   width:350px;
}
.username:focus{
    outline: none; 
}
.for{
    margin: 4px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    top: 10px;
}
.btn1{
    font-size: 20px;
    padding: 10px 40px;
    font-weight: 500;
    position: relative;
    top: 30px;
    color: white;
    background:  rgb(44, 44, 44);  
    border:  rgb(44, 44, 44);
}
/* Right Sec */
.rightsec{
    color: #Fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgb(44, 44, 44);
}
.p2{
    position: relative;
    top: 50px;
}
.line2{
    width:70px;
    background: white;
    height: 2px;
    position: relative;
    top: 67px;
    right: 60px;
}
.line3{
    width:70px;
    background: white;
    height: 2px;
    position: relative;
    top: 65px;
    left: 60px;
}
.h1{
 padding: 5px 10px;  
 font-size: 50px;
 position: relative;   
 bottom: 20px;
 font-family: cursive;
}
.p1{ 
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 500;  
}
.btn2{
    font-size: 15px;
    padding: 10px 40px;
    font-weight: 500;
    position: relative;
    top: 40px;
    color: #Fff;
    border: 1px solid #Fff;
    background: none;   
}
